body {
    padding-top: $navbar-height;

    background-color: $color-grey-bg;
}

/* header */
.beta-ribbon {
    position: fixed;
    top: 7px;
    left: -20px;

    z-index: 2000;

    width: 80px;
    height: 25px;

    text-align: center;

    color: #fff;
    background-color: $color-blue;

    font-size: 13px;
    font-family: sans-serif;

    font-weight: bold;
    line-height: 27px;

    @include rotate(-45deg);
    @include box-shadow(0 0 10px 0 #888);
}

/* navbar */
.navbar-brand {
    padding: 5px 0 0 0;
    margin-right: 50px;

    img {
        display: inline;
    }
}

.navbar-nav > li {
    min-width: 100px;
    text-align: center;

    &.active a:after {
        position: absolute;
        bottom: 0;
        left: 18px;
        right: 18px;
        content: '';
        display: block;
        height: 4px;
        background-color: $color-blue;
    }
}

/* footer */
.footer {
    background-color: $color-blue;
    color: #fff;
    padding: 40px 0px;

    a {
        color: #fff;
    }

    .brand-name {
        font-size: 40px;
    }

    .links {
        text-transform: uppercase;
        margin-top: 10px;
        margin-bottom: 15px;
    }
}
